


/* Credit Hexagon Aaron Hanson: https://css-tricks.com/the-shapes-of-css/ */
.hexagon {
  width: 100px;
  height: 57.735px;
  background: silver;
  position: relative;
  font-size: 2em;
  color: blue;
  font-weight: 800;
  text-align: center;
}

  .hexagon::before {
    content: "";
    position: absolute;
    top: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 28.8675px solid silver;
  }

  .hexagon::after {
    content: "";
    position: absolute;
    bottom: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 28.8675px solid silver;
  }
